@font-face {
  font-family: 'OpenSans';
  src: url('../../../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../../../assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../../../assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansCondensed';
  src: url('../../../assets/fonts/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansSemiCondensed';
  src: url('../../../assets/fonts/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Regular.ttf') format('truetype');
}