@import 'layouts/_colors';
@import 'layouts/_fonts';
@import 'components/modal';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(14, 20, 20);
  font-family: "Inv Maison Neue", "Maison Neue", -apple-system, BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;
  font-size: 12px;
  color: #9ca4ab;
}

// Website loading. I just temporarily implement this since I don't have GIF file uses to invis.io
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Hide content initially */
#product-container {
  display: none;
}

#card-header-container {
  display: none;
}

#card-container {
  display: none;
}
// 

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 175px 0px 0px 0px;
  padding: 10px 10px 10px 10px;

  .description-content {
    width: 400px;
    padding: 10px 10px 0px 0px;

    > h1 {
      font-family: OpenSansLight;
      text-transform: uppercase;
      font-weight: 100;
      line-height: 2.2;
      font-size: 27px;
      text-align: center;
      color: #e2e2e2;
      margin-top: -20px;
      margin-left: -15px;

      @media screen and (max-width: 390px) and (min-width: 320px) {
        margin-left: 20px !important;
      }
    }
  
    > .description-line {
      color: #e2e2e2;
    }
  
    > p.top-description {
      font-family: 'OpenSansLight';
      font-size: 18px;
      color: #cecece;
      margin-left: 2px;
      margin-top: 30px;
      line-height: 1.7;

      @media screen and (max-width: 390px) and (min-width: 320px) {
        margin-left: 25px !important;
      }
    }

    > h3 {
      margin-top: 45px;
      font-family: 'OpenSansSemiBold';
      text-transform: uppercase;
      color: #cd0909;
      font-size: 15px;

      @media screen and (max-width: 390px) and (min-width: 320px) {
        margin-left: 25px !important;
      }
    }

    > p.bottom-description {
      font-family: 'OpenSansLight';
      font-size: 17px;
      color: #fffbfb;
      margin-left: 2px;
      margin-top: 25px;
      line-height: 1.8;
      font-weight: 700;

      @media screen and (max-width: 390px) and (min-width: 320px) {
        margin-left: 25px !important;
      }
    }
  }
}

.first-image {
  width: 390px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.second-image {
  width: 390px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.third-image {
  width: 390px;
  margin-top: 18px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.card-header-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  
  > h1 {
    font-family: 'OpenSansLight';
    text-transform: uppercase;
    font-weight: 100;
    font-size: 42px;
    color: #e1dddd;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 60px;
  margin-bottom: 200px;
}

.card {
  width: 395px;

  > .card-image-underneath-line {
    border: 2px solid #cd0909;
    width: 385px;
    margin-top: -3px;
  }

  > h2 {
    margin-top: 35px;
    font-family: 'OpenSansLight';
    font-size: 17px;
    color: #fffbfb;
    font-weight: 600;
    word-spacing: 2px;

    @media screen and (max-width: 390px) and (min-width: 320px) {
      margin-left: 10px !important;
    }
  }

  > p {
    margin-top: 20px;
    font-family: 'OpenSansLight';
    font-size: 15px;
    line-height: 1.9;
    color: #cecece;

    @media screen and (max-width: 390px) and (min-width: 320px) {
      margin-left: 10px !important;
    }
  }

  > h3 {
    margin-top: 30px;
    font-family: 'OpenSansSemiBold';
    color: #fffbfb;
    text-transform: uppercase;
    font-size: 15px;

    @media screen and (max-width: 390px) and (min-width: 320px) {
      margin-left: 10px !important;
    }
  }

  > .underneath-read-more {
    border: solid 1px #cd0909;
    width: 87px;
    margin-top: 8px;

    @media screen and (max-width: 390px) and (min-width: 320px) {
      margin-left: 10px !important;
    }
  }

  @media screen and (max-width: 390px) and (min-width: 320px) {
    margin-left: 10px !important;
  }

  .card-first-img {
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .card-second-img {
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .card-third-img {
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .card-first-read-more {
    &:hover {
      cursor: pointer;
      color: #cd0909
    }
  }

  .card-second-read-more {
    &:hover {
      cursor: pointer;
      color: #cd0909
    }
  }

  .card-third-read-more {
    &:hover {
      cursor: pointer;
      color: #cd0909
    }
  }
}

.animation {
  opacity: 0;
  transform: translateX(-300px);
  transition: all 0.7s ease-out;
  transition-delay: 0.4s;
}

.scroll-animation {
  opacity: 1;
  transform: translateX(0);
}

