* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(14, 20, 20);
  font-family: "Inv Maison Neue", "Maison Neue", -apple-system, BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;
  font-size: 12px;
  color: #9ca4ab;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
}

.first-image {
  width: 395px;
}

.second-image {
  width: 395px;
}

.third-image {
  width: 395px;
  margin-top: 18px;
}

.description-content {
  border: solid 1px red;
  width: 400px;
}

.card-header-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
}

.card {
  width: 395px;

}